hello_cargo/target
guessing_game/target
03_common_programming_concepts/*/target
04_understanding_ownership/*/target
05_using_structs_to_structure_releated_data/*/target
06_enums_and_pattern_matching/*/target
07_managing_growing_projects_with_package_crates_and_modules/*/target
08_common_collections/*/target
09_error_handling/*/target
10_generic_types_traits_and_lifetimes/*/target
11_writing_automated_tests/*/target
12_an_io_project_building_a_command_line_program/*/target
13_functional_language_features_iterators_and_closures/*/target
14_more_about_cargo_and_crates_io/*/target
15_smart_pointers/*/target
16_fearless_concurrency/*/target
17_object_oriented_programming_features_of_rust/*/target
18_patterns_and_matching/*/target
19_advanced_features/*/target
circuit_exercise/*/target
a_hands_on_tutorial_for_zero_knowledge_proofs/*/target
